.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
  }

  &-logo {
    height: 80px;
  }

  &-header {
    background-color: #222;
    height: 150px;
    align-self: stretch;
    text-align: center;
    padding: 20px;
    color: white;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }

  &-input {
    height: 40px;
    align-self: stretch;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
  }

  &-button {
    background-color: limegreen;
    border: 1px solid limegreen;

    &:hover {
      background-color: rgb(28, 168, 28);
      border-color: rgb(28, 168, 28);
    }
  }
}
