// Put global styling here

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  margin: 10px 0px;
  background-color: lightgray;
  color: white;
  font-size: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.1s linear, border-color 0.1s linear;

  &:hover {
    background-color: rgb(175, 175, 175);
    border-color: rgb(175, 175, 175);
  }

}