.mp-info {
  align-self: stretch;

  &-link {
    background-color: limegreen;
    border: 1px solid limegreen;

    &:hover {
      background-color: rgb(28, 168, 28);
      border-color: rgb(28, 168, 28);
    }
  }

  &-email {
    background-color: rgb(66, 66, 219);
    border-color: 1px solid rgb(66, 66, 219);

    &:hover {
      background-color: rgb(21, 21, 202);
      border-color: 1px solid rgb(21, 21, 209);
    }
  }

  &-name {
    font-size: 20px;
    font-weight: bold;
  }

  &-details {
    flex: 1;
    margin-left: 20px;
  }

  &-image {
    width: 100%;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}
